# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [1]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [2]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [3]:
import pandas as pd

In [27]:
dAtaFrame = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

In [28]:
dAtaFrame.head(3)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN

In [29]:
dAtaFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 521.7+ KB

In [103]:
dAtaFrame_copy = dAtaFrame.copy()

In [104]:
dAtaFrame_copy.dropna(inplace = True)

In [105]:
dAtaFrame_copy.shape

(9029, 6)

In [106]:
dAtaFrame_copy.head(3)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508

In [107]:
dAtaFrame_copy['Clave_Hash'] = dAtaFrame_copy['Código de país'].apply(hash_function)

In [108]:
dAtaFrame_copy.head(3)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [143]:
dAtaFrame_copy.drop(['Año','CO2 (kt)','CO2 per cápita (toneladas métricas)'], axis=1, inplace=True)

In [145]:
dAtaFrame_copy.head(3)

   Código de país Nombre del país                   Región  Clave_Hash
26            ABW           Aruba  América Latina y Caribe         910
27            ABW           Aruba  América Latina y Caribe         910
28            ABW           Aruba  América Latina y Caribe         910

In [151]:
dAtaFrame_copy.drop_duplicates(inplace=True)

In [152]:
dAtaFrame_copy.shape

(199, 4)

In [153]:
dAtaFrame_copy.head()

    Código de país Nombre del país                   Región  Clave_Hash
26             ABW           Aruba  América Latina y Caribe         910
87             AND         Andorra    Europa y Asia Central         870
104            AFG      Afganistán              Sur de Asia         858
156            AGO          Angola      África subsahariana         893
208            ALB         Albania    Europa y Asia Central         856